body {
    background-image:url("images/dogbasket.jpg");
    background-size:cover;
    font-family: 'Cabin', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: left;
}

#topNav {
    width: 100%;
    height: 33px;
    background-color: #a52245;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Courgette', cursive;
    color:white;

}

#topNavLinks a:hover {
    background-color: green;
    color: white;
}

#topNavLinks {
    width: 35%;
    height: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}

a {
    color: black;
    text-decoration: none;
}

#header {
    width: 100%;
    height: auto;
    /*background-color: white;*/
    display: flex;
    margin-left:-160px;
    
}

#myLogo {
    padding: 5px 10px;
    max-height:150px;
    border-radius:100px;
    display:flex;
    align-self:flex-end;
}

#actionDog {
    margin: 10px 10px 10px 10px;
    max-height:120px;
    border-radius: 50%;
    border: 2px #bfdccb solid;
}

#greenNav {
    display:flex;
    justify-content:space-between;
    background-color: #a00f36;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    font-family: 'Courgette', cursive;

    
}

.barAnimals {
margin-bottom:20px;
height:max;

}
#content{
    position: relative;
}
#crumbtrail {

    bottom:0;
}
.barAnimals img {
    padding-bottom:10px;
    height:max;
    
    }

#content > div {
  width: 40%;
}


#greenNav img {
    margin: 5px;
    max-height:50px;
    /* border: 4px #08180e solid; */
}

#pageCore {
    display:flex;
    align-content:space-between;
    width:79%;
}

#content {
    background-color: #4abdac;
    margin-top: 5px;
    width: 79%;
    height: auto;
    width: 500px;
    display: none;
    margin-right:5px;
    flex-direction: row;
    border: 2px #bfdccb solid;
    
}
#lotsapets{
    display:flex;
    align-self:center;
    justify-content:space-around;
    border-radius:10px;
    height:200px;
    width:400px;
}




#subheader {
    font-size: 14px;
    margin-right: 8px;
}

#headline{
    font-family: 'Great Vibes', cursive;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:rgb(29, 43, 43);
    
}
h1{
    font-size:100px;
    margin:3px;
}
h2{
    font-size:50px;
    margin:0px;
}
#dog{
    display:flex;
    flex-direction:column;
}
#cat{
    display:flex;
    flex-direction:column;
}
#bird{
    display:flex;
    flex-direction:column;
}
#reptile{
    display:flex;
    flex-direction:column;
}
#fish{
    display:flex;
    flex-direction:column;
}

/*background-image:url("images/puppy-hug.jpg");
    /*photo source http://www.dodlive.mil/2015/10/15/what-pet-owners-should-know-when-movingdeploying*/


   /*dog background: https://pixabay.com/en/flatcoated-retriever-dog-basket-3251959/